body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #e8f5e9;
  }
  
  .required {
    color: red;
  }
  
  /* Example styles for form fields */
  .field-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
  
.field-group label {
  width: 120px;
  font-weight: bold;
}
.field-group input,
.field-group textarea {
  flex: 1;
  padding: 5px;
  border: 1px solid #CCC;
}
.field-group textarea {
  resize: vertical;
}
  
  label {
    font-weight: bold;
  }
  
  .input-text {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .buttons-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .buttons {
    display: inline-block;
  }
  
  .buttons input[type="submit"] {
    background-color: #64B13C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .buttons a {
    background-color: #A66EA7;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 4px;
  }
  
  .buttons a:hover {
    background-color: #FAAF00;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  
h1{
    text-align: center;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: bold;
    
    text-decoration-thickness: 5px;
    
}
  
  h2 {
    margin-top: 0;
    color: #A66EA7;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #f1f8e9;
    border-radius: 5px;
  }
  
  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #c8e6c9;
  }
  
  th {
    background-color: #c8e6c9;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #dcedc8;
  }
  
  tr:hover {
    background-color: #c5e1a5;
  }
  
  a {
    color: #64B13C;
    text-decoration: none;
  }
  
  .header-search {
    /*Increase the z-index to keep it on top of other elements*/
    background-color: #64B13C;
    color: #FFF;
    padding: auto;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
  }

  

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #64B13C;
  color: #FFF;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.toggle-icon {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #FFF;
}

.toggle-icon::before,
.toggle-icon::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #FFF;
}

.toggle-icon::before {
  top: -8px;
}
.toggle-icon::after {
  top: 8px;
}
  

.sidebar {
  background-color: #64B13C;
  width: 0;
  height: 0;
  position: fixed;
  top: 80px;
  left: 0;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 30%;
}

.sidebar.show {
  width: 250px;
  height: 230px; /* Adjust the height based on your needs */
  text-align: center;
  /*center the content of the sidebar*/
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.sidebar ul {
  margin: 20px 0;
  padding: 0;
  text-align: center;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 4px;
}


  
.content {
  margin-left: 80px;
  padding: 20px;
  position: center;
}
  
  .icon-delete {
    color: #E60032;
    font-size: 24px;
  }
  
  .icon-delete:hover {
    cursor: pointer;
  }

  
  .slot-available {
    color: #64B13C; /* Green color for available slots */
  }
  
  .slot-unavailable {
    color: #A66EA7; /* Purple color for fully taken slots */
  }
  
  .link-unavailable {
    pointer-events: none; /* Disable link click for fully taken slots */
    cursor: not-allowed; /* Set cursor to not-allowed for fully taken slots */
  }
  
  .fully-reserved {
    color: #E60032; /* Red color for fully reserved text */
  }
  form {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(5, 0, 5, 0.5);
  }
  
  form h1 {
    color: #FFF;
    text-align: center;
    margin-top: 0;
  }
  
  form .field-group {
    margin-bottom: 20px;
  }
  
  form label {
    font-weight: bold;
    color: #080808;
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form textarea {
    width: 10%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f5d79169;
    color: #000;
  }
  
  form .description {
    color: #000000;
    font-style: italic;
    font-size: 12px;
  }
  
  form button[type="submit"] {
    background-color: #64B13C;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  form button[type="submit"]:hover {
    background-color: #4CAF50;
  }
  
  form .required {
    color: #E60032;
  }

  .form-container {
    overflow: auto;
    padding: 0 20px;

}
  
  .page-container {
    background-color: #e8f5e9;
    padding: 20px;
    box-shadow: 0px 0px 25px rgba(5, 0, 5, 0.5);
    border-radius: 5px;
}

.reservation-container {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #e8f5e9;
  box-shadow: 0px 0px 25px rgba(5, 0, 5, 0.5);
  border-radius: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;


}

.search-container {
  position: relative;
  float: right;
  margin-bottom: 20px;
  /*make it be in the right upper corner*/
  right: 0;
  top: 0;
  
}

.search-container input[type="text"] {
  padding: 5px;
  font-size: 17px;
  border: 1px solid #64B13C;
  width: 200px;
  background-color: #f1f8e9;
  border-radius: 5px;
  color: #000;
}

.search-container button[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  border: none;
  background-color: #64B13C;
  color: #FFF;
  cursor: pointer;
  border-radius: 5px;
}

.search-container button[type="submit"]:hover {
  background-color: #4CAF50;
}


footer {
  color: #FAAF00;
  text-align: center;
  padding: 20px 0;
  background: #fff;
}

.page-content {
  min-height: 100vh;  /* Minimum height of 100 viewport heights */
  display: flex;  /* Make use of flexbox layout */
  flex-direction: column;  /* Stack children vertically */
  
  justify-content: center;
  align-items: center;
 
}